/*
=======================
  SASS 
=======================
*/
$socialiconswidth: 36px;
$white: #ffffff;
$textcolorblack:#131313;
$textblack: #333333;
$backgroundcolorgrey: #f7f7f7;
$textcolorblacksub: #646464;
$blackcolor: #040F16;
$imperialblue: #01BAEF;
$mainred: #E71D36;
$prox_bold: 'Proxima Nova Bold';
$prox_semibold: 'Proxima Nova Semi-Bold';
$prox_black: 'Proxima Nova Black';
$prox_reg: 'Proxima Nova Regular';
$pier: 'pier-bold';
$center: 0 auto;
$textcenter: center;
$none: 0px;
$width: 100%;
$fixed: fixed;

@font-face {
  font-family: 'kys';
  src: url('../fonts/Brandon_bld.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'code';
  src: url('../fonts/VictorMono-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hel';
  src: url('../fonts/Helvetica-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kys3';
  src: url('../fonts/Brandon_reg_it.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kys4';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-light';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
/*
=======================
   Body
=======================
*/
html {
  
  font-size: 100%;
  height: 100%;
  margin: 0px;
}
body {
  height: 100%;
  overflow-x:hidden;
  width: 100%;
  margin: 0px;
}
#home-main{
  width: 100%;
  height: 100%;
}
.home-background{
  width: 100%;
  height: 100%;
  background-color: black;}
  /*background: linear-gradient(270deg, #07d919, #35bf41);
background-size: 400% 400%;

-webkit-animation: AnimationName 18s ease infinite;
-moz-animation: AnimationName 18s ease infinite;
animation: AnimationName 18s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/
#home {
  background-color: black;
  height: 100%;
  width: 100%;
}
.home-text {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 25%;

}

#nav-bar {
  position: absolute;
  right: 10%;
  top: 0px;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#nav-bar ul li {
  display: block;
  float: left;

  padding: 60px;
  padding-left: 35px;
  padding-right: 35px;
}
#nav-bar ul li a{
  display: block;
  float: left;
text-transform: uppercase;
   font-family: 'kys4', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    color:#e6e6e6;
    letter-spacing: 0.10em;
      -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;

}

#nav-bar ul li span {
  border: 2px solid
white;
display: block;
opacity: 0;

width: 95%;
text-align: center;
margin: 0 auto; 
    margin-top: 0px;
margin-top: 35px;
-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;

}

#nav-bar ul li:hover,
#nav-bar ul li:active,
#nav-bar ul li span:hover,
#nav-bar ul li span:active {


}

#icons {
  position: absolute;
  bottom: 80px;
  left: 35px;
}
#icons ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#icons ul li {
  display: block;
  
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#icons ul li a img{
  color: white;
  fill: white;

  width: 35px;
  opacity: 0.7;
  -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
#icons ul li a img:hover,
#icons ul li a img:active{
  -moz-transform: translateY(-3px);
-webkit-transform: translateY(-3px);
-o-transform: translateY(-3px);
-ms-transform: translateY(-3px);
transform: translateY(-3px);
  opacity: 0.9;
}
#home-header h1 {
  text-align: center;
  color: #ffffff;
  font-family: 'kys', sans-serif;
  font-weight: 400;
  font-size: 9em;
  letter-spacing: 0.10em;
  margin-bottom: 0px;
}
#home-info h3 {
      text-align: center;
    color: #ffffff;
    font-family: 'kys3', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
   
    margin-top: -10px;
    letter-spacing: 0.13em;
}



#home-button {
  margin: $center;
  text-align: center;
}

.ghost-button {
  display: inline-block;
  width: 180px;
  padding: 21px;
  color: $white;
  border: 2.5px solid $white;
  text-align: center;
  outline: none;
  margin-top: 25px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.1em;
  letter-spacing: 0.13em;

    color: $white;
  -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: $white;
  color: #131313;
  border: 2.5px solid $white;
}
#scroll-icon {
  bottom: 10%;
  margin: $center;
  width: 100%;
  position: absolute;
}
.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*
===============
  About Me
===============
*/
#about-me {
  width: 100%;
  height: 600px;
  background-color: $white;
}
#about-text {
  width: 70%;
    margin-left: 10%;
    margin-top: 70px;
    text-align: left;
}
#about-text h4{
     display: block;
    float: left;
    padding: 2.5%;
    font-family: 'roboto-light', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 68px;
    text-decoration: none;
    color: $textblack;

}
#about-text h4 span {
    border-bottom: 1px solid black;
}
html{
  scroll-behavior: smooth;
}
#skills {
   display: block;
  float: left;
  width: 70%;
 margin: $center;
 padding-left: 2.5%;
  font-family: 'kys3', sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  text-decoration: none;
  margin-bottom: 140px;
  color: #5d5d5d;
}
#skills h5{
  margin-bottom: 0px;
  margin-top: 0px;
      display: block;
    float: left;
    font-family: 'kys4', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    width: 100%;
    text-decoration: none;
    color: $textblack;
}

#code1 {
  height: 100px;
  float: left;
  font-family: 'code', sans-serif;
  height: 100px;

}
#code2 {
height: 100px;
float: left;
height: 100px;
  font-family: 'code', sans-serif;

}
/*
===============
  Projects
===============
*/
#projects {
  width: 100%;
  overflow: hidden;
  background-color: #fbfbfb;
}
#projects-header {
  width: 100%;
  margin-left: 10%;
  margin-right: auto;

}
#projects-header h3 {
  display: block;
    float: left;
    padding: 2.5%;
    font-family: 'kys4', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    margin-top: 70px;
    width: 50%;
    text-decoration: none;
    color: $textblack;
}

.projects-container {
  width: 100%;
  position: relative;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.projects-container ul {
  list-style: none;
  width: 76%;
  text-align: center;
  height: 100%;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto
}

.projects-container ul li  {

  width: 48%;
  display: block;
  float: left;
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: $white;
  -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}

.projects-container ul li:hover,
.projects-container ul li:active{
  -webkit-box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.11);
box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.11);
-moz-transform: translateY(-5px);
-webkit-transform: translateY(-5px);
-o-transform: translateY(-5px);
-ms-transform: translateY(-5px);
transform: translateY(-5px);
}

.projects-container ul li a img{
  width: 100%;
  border-radius: 4px;
}

.projects-container ul li a {

  width: 95%;
  height: 100px;
  text-decoration: none;
}

.projects-container ul li a h6{
    font-family: 'kys', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
    letter-spacing: 0.04em;
    letter-spacing: 0.15em;
    text-decoration: none;
    color: #333333;
    text-transform: uppercase;

}
.right-project {
  margin-left: 3%;
}
#project-button {
  text-align: center;
  float: left;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 100px; }

#button-project {
  display: inline-block;
  width: 180px;
  padding: 21px;
  color: #5d5d5d;
  border: 2.5px solid #222;
  text-align: center;
  outline: none;
  margin-top: 2.5%;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.1em;
  letter-spacing: 0.13em;
  background-color: #222;
  color: #fbfbfb;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }

#button-project:hover,
#button-project:active {
  background-color: #34dec4;
  color: #fbfbfb;
  border: 2.5px solid #34dec4; }

/*
===============
  Contact
===============
*/
#contact {
  width: 100%;
  height: 350px;
  background-color: $white;
}
#contact-text {
  margin-left: 10%;
}
#contact-text h4{
  display: block;
    float: left;
    font-family: 'kys4', sans-serif;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 68px;
    text-decoration: none;
    padding: 2.5%;
    color: #5d5d5d;
}
#contact-text h4 a{
  text-decoration: none;
  color: #2fe0c5;
  font-family: 'roboto-light', sans-serif;
  -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
font-weight: 500;
}

#contact-text h4 a:hover,
#contact-text h4 a:active{
  color: #5d5d5d;
}
#contact ul{
  list-style-type: none;
    margin: 0px;
    position: absolute;
    padding: 0px;
    margin-left: 10%;
    margin-top: 130px;
    width: 100%;
}
#contact ul li {
 display: block;
    float: left;
    padding: 2.5%; 
}
#contact ul li a{
    display: block;
    float: left;
    padding: 2.5%;
    font-family: 'kys4', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-decoration: none;
    color: #222;
    letter-spacing: 0.10em;
    border-bottom: 2px solid currentColor;
    -webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease;
-ms-transition: all 250ms ease;
-o-transition: all 250ms ease;
transition: all 250ms ease;
}
#contact ul li a:hover,
#contact ul li a:active{
  color: #2fe0c5;
  border-bottom: 2px solid currentColor;

}
#code2 {
  visibility: hidden;
  height: 0px;
}

/*
===================
 MEDIA QUERIES
===================
*/
@media screen and (max-width: 3440px){
 
}
@media screen and (max-width: 1680px){
  html {
    font-size: 92.5% !important;
  }
 
  #skills {
    width: 100%;

  }
  
  .mousey {
    height: 29px;
    width: 2.5px;
  }
}
@media screen and (max-width: 1280px){
  html {
    font-size: 78% !important;
  }
 
  .mousey {
    height: 29px;
    width: 2.5px;
  }
  #about-me {
    height: 520px;
  }
  #contact {
    height: 300px;
  }
  #skills {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1366px), screen and (max-height: 768px){
  html {
    font-size: 70% !important; 
  }
  #type-text{
    font-size: 2.6em !important;
  }
  #code1 {
    font-size: 70% important;
  }
  #about-me {
    height: 355px;
  }
 
  #contact {
    height: 250px;
  }
  #skills {
    margin-bottom: 100px;
  }
  .mousey {
    height: 24px;
    width: 1.7px;
    padding: 8px 12px;
  }
}
@media screen and (max-width: 1024px), screen and (max-height: 768px){
  html {
    font-size: 65% !important; 
  }
  #icons ul li a img{
    width: 30px;
  }
}
@media screen and (max-width: 768px){
  #nav-bar {
    right: 40px;
  }
  #nav-bar ul li{
    padding: 15px;
  }
  .projects-container ul li {
    width: 100%;
  }
  #about-text {
    width: 80%;
  }
  #type-text{
    font-size: 2.3em !important;
    line-height: 50px !important;
  }
  #code1{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  #code2{
    visibility: visible;
    height: 100px;
  }
}


@media screen and (max-width: 570px){
  #contact-text h4 {
    font-size: 1.6rem;
  }
  #contact ul {
    margin-top: 100px;
  }
  #contact {
    height: 210px;
  }
  #home-header h1 {
    font-size: 6.7rem;
    margin-bottom: 10px;
  }
  .ghost-button {
    width: 115px;
  }
  #type-text { 
    font-size: 2.1rem !important;
  }
}